{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<navbar>
  <ul>
    {% if user.is_authenticated %}
    <li>
      <span class="navbar-text"
        >Hello <strong>{{ user.username }}</strong>!</span
      >
    </li>
    {% else %}
    <li><span class="navbar-text">Hello Guest!</span></li>
    {% endif %}
    <li><a href="/learn">Learn</a></li>
    <li><a href="/practice">Practice</a></li>
    {% if user.is_authenticated %}
    <li><a href="/statistics">User Statistics</a></li>
    <li><a href="/signout">Sign Out</a></li>
    {% else %}
    <li><a href="/signin" class="btn-signin">Login</a></li>
    {% endif %}
  </ul>
</navbar>
<hr />
