{% include 'navbar.html' %} {% load static %}
<html>
  <header>
    <link rel="stylesheet" href="{% static 'styles/practice_style.css' %}" />
    <title>Entire Range Practice</title>
    <meta name="csrf-token" content="{{ csrf_token }}" />
  </header>
  <body>
    <div class="practice-page">
      <div class="song-name">
        <h1>Currently Practicing: Entire Range</h1>
      </div>
      <div class="info-section">
        <div class="fingering-section">
          <div class="indicator-column" id="refIndicator">
            <img
              src="{% static 'images/handIndicator.png' %}"
              alt="Hand Indicator"
            />
          </div>
          <div class="fingering-column" id="refFingering">
            <script>
              fetch("/static/svg/refFingering.html")
                .then((response) => response.text())
                .then(
                  (html) =>
                    (document.getElementById("refFingering").innerHTML = html)
                )
                .catch((error) =>
                  console.error("Error loading the section:", error)
                );
            </script>
          </div>
          <div class="indicator-column" id="currIndicator">
            <img
              id="correct-indicator"
              src="{% static 'images/correctIndicator.png' %}"
              alt="Correct Indicator"
            />
          </div>
          <div class="fingering-column" id="currFingering">
            <script>
              fetch("/static/svg/currFingering.html")
                .then((response) => response.text())
                .then(
                  (html) =>
                    (document.getElementById("currFingering").innerHTML = html)
                )
                .catch((error) =>
                  console.error("Error loading the section:", error)
                );
            </script>
          </div>
        </div>
        <div class="notes-section">
          <script src="{% static 'js/recording.js' %}"></script>
          <div><button id="connectButton">Connect</button></div>
          <div>
            <button id="switchButton">Switch</button>
            <script src="{% static 'js/switch.js' %}"></script>
          </div>
          <div>
            <button id="startButton" onclick="startRecording()">Start</button>
          </div>
          <div>
            <button id="endButton" onclick="stopRecording()">End</button>
          </div>
          <div>
            <button id="replayButton" onclick="replayClicked()">Replay</button>
          </div>
          <div>
            <text id="ref-note">Current Note: B3<br /></text>
          </div>
          <div class="note-diagram">
            <img
              id="ref-note-img"
              src="{% static 'images/B3-note.png' %}"
              alt="Note"
            />
          </div>
          <div>
            <text id="curr-note">Played Note: notDetected<br /></text>
            <text id="note-message"
              >The practice session hasn't started.<br /><br
            /></text>
            <text id="next-note">Next Up: </text>
          </div>
        </div>
      </div>
      <div class="explanation-feedback-section">
        <div class="explanation-box">
          <div class="left-hand">
            <text id="left-hand"
              >Left Hand:<br />A desciption for left hand fingering<br />
              will display here once the practice starts.<br /><br /><br
            /></text>
          </div>
          <div class="right-hand">
            <text id="right-hand"
              >Right Hand:<br />A desciption for right hand fingering<br />
              will display here once the practice starts.<br /><br /><br
            /></text>
          </div>
        </div>
        <div class="feedback-box" id="feedback-box">
          <text id="feedback">Press Start to start practicing.</text>
        </div>
      </div>
    </div>
    {% block javascript %}
    <script>
      function songReset() {
        fetch("playsong", {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json",
          },
          data: {
            reset: "reset",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            updateRefNote(data.refNote);
            updateRefFingering(data.refFingering);
            updateRefDescription(data.refNote);
            updateNext(data.next);
          });
      }
    </script>
    <script src="{% static 'js/integration.js' %}"></script>
    <script src="{% static 'js/updateData.js' %}"></script>
    <script src="{% static 'js/portReadWrite.js' %}"></script>
    <script>
      // Automatically send get requests every 0.1 second to trigger current updates
      // setInterval(sendHttpRequest, 100);

      // Automatically read from serial every 0.1 second
      // setInterval(readFromSerial, 100);
    </script>
    {% endblock %}
  </body>
</html>
